*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}


body{
    overflow-x: hidden;
}
:root{
    --main-color: #273672;
    --second-color: #1D9A57;
}

p, div{
    font-size: large;
}

.pin{
    position: fixed;
    bottom: 5px;
    right: 5px;
    text-decoration: none;
    background-color: var(--main-color);
    border-radius: 50%;
    z-index: 1;
}

.pin img{
    transform: rotate(90deg);
}

/* HEADER */
.reseaux{
    background-color: var(--main-color);
    width: 100%;
    height: 57px;
    position: relative;
}

.reseaux div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.reseaux div svg{
    margin: 0 5px;
}

header>nav{
    z-index: 1;
}

.logo, .nav-btn{
    margin: auto;
    text-align: center;
    width: 30%;
}
.logo img{
    width: 100%;
}

.liens{
    width: 60%;
    text-align: center;
    margin: auto;
}

.liens>a{
    margin: 0 5px;
    text-decoration: none;
    color: black;
}
.liens>a:hover{
    color: rgb(78, 78, 78);
}

.contact-btn{
    border: none;
    text-decoration: none;
    padding: 9px 17px;
    background-color: var(--second-color);
    border-radius: 5px;
    color: white;
}
.contact-btn:hover{
    color: white;
}
#expand{
    border: none;
    background-color: var(--main-color);
    color: white;
    padding: 7px 15px;
    margin-bottom: 15px;
    display: none;
}


@media only screen and (max-width: 800px) {
    .nav-btn{
        display: none;
    }
    .liens{
        height: 30px;
        overflow: hidden;
        margin: auto auto auto 35%;
    }
    .liens a{
        display: block;
        text-align: center;
        width: 100%;
        border-bottom: 1px solid #273672;
        background-color: #fff;
        padding:5px;
    }

    .logo{
        width: 50%;
    }
    #expand{
        display:inline-block;
    }

    #services, #services .service-section, #services img{
        display: block;
    }
    #services img{
        float: inline-start;
        width: 100%;
    }

    #services.service-section>div{
        padding: 0;
    }
}

/* MAIN */
section .contain{
    padding: 110px;
}

@media only screen and(max-width: 500px) {
    section .contain{
        padding: 5px 0;
    }
}

/* Slider */
.slider{
    padding-top: 0;
    height: 100vh;
    max-height: 900px;
}

.content{
    width: 75%;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Qui sommes nous */

.qui{
    padding-top: 120px;
    position: relative;
    max-height: 900px;
}

.qui .contain>div{
    width: 50%;
    position: relative;
}

@media only screen and (max-width: 1100px) {
    #qui div{
        width: 80%;
    }
}

/* Services */
.services{
    background-color: #F1F1F1;
}
.service-section{
    display: flex;
    margin: 60px 0;
}

.service-section div{
    padding: 0;
    margin: auto 10px;
    width: 50%;
}


.service-section button, .submit button, .button, .contact-btn{
    padding: 13px 40px;
    border: none;
    background-color: #68BB8E;
    color: white;
}

.service-section button:hover, .submit button:hover, .button:hover, .contact-btn:hover{
    background-color: #5ba37b;
    transition: 0.2s all ease-in-out;
}

.service-section h3{
    font-size: 1.9em;
}

@media only screen and (max-width: 1000px) {
    #services .service-section{
        height: 819px;
        position: relative;
    }

    .service-section .contenu{
        position: absolute;
        width: 100%;
        bottom: 0;
    }

    .service-section h3{
        font-size: 1.5em;
    }
}
@media only screen and (max-width: 550px) {
    #services .service-section .contain{
        display: block;
        height: 97vw;
        position: relative;
    }
}
@media only screen and (max-width: 460px) {
    #services .service-section .contain{
        display: block;
        height: 117vw;
        position: relative;
    }
}
/* Formations */
.formations .contain{
    text-align: center;
    color: white;
    width: 100%;
}

@media screen and(min-width: 1510px) {
    .formations .contain{
        max-height: 900px;
    }
}

.formations{
    height: 100vh;
    background-color: var(--main-color);
    background-image: url(../RESOURCES/SVG/patter_desktop_left.svg), url(../RESOURCES/SVG/pattern_desktop.svg);
    background-position: right top, left bottom;
    background-size: 40% auto;
    background-repeat: no-repeat;
    position: relative;
}

.formations-text{
    width: 60%;
    margin: auto;
}

.formations svg{
    position: absolute;
    z-index: 0;
}


/* Realisations */
.realisations .contain{
    height: 900px;
    position: relative;
}
.realisations{
    text-align: center;
    padding: 50px;
    position: relative;
    height: 900px;
    background-color: #E9EBF1;
}

.contain .realisations-items{
    width: 80%;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    display: flex;
    position: absolute;
}
.realisations-items h3{
    font-size: 40px;
}

.realisations img{
    width: 90px;
    height: 90px;
}
.realisations-items>div{
    text-align: center;
    width: 25%;
}

.realisations>p{
    width: 60%;
    margin: auto;
}

@media screen and(min-width: 1510px) {
    .realisations .contain, .realisations{
        max-height: 900px;
    }
}

@media only screen and (max-width: 800px) {
        
    .contain .realisations-items{
        display: block;
        top: 50%;
    }

    .realisations img{
        width: 60px;
        height: 60px;
    }

    .contain .realisations-items>div{
        text-align: center;
        margin: auto;
    }
    #realisations .contain{
        height: 160vh;
        position: relative;
    }
    #realisations{
        position: relative;
        height: 160vh;
    }
}
/* Travaux */
.travaux{
    height: auto;
}

@media screen and(min-width: 1510px) {
    .travaux .contain, .travaux{
        max-height: 900px;
    }
}

.travaux-items>div .contain{
    background-color: #eee;
    border-radius: 5px;
    position: relative;
}
.travaux-items>div>button, .parag{
    position: absolute;
}
.parag{
    top: 100%;
    padding: 5px;
    border-radius: 8px;
    color: white;
    background-color: rgba(0, 0, 0, 0.438);
}

.parag p{
    font-size: 15px;
}

.travaux-items{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}
.travaux-items>div{
    font-size: 18px;
    overflow: hidden;
    width: 30%;
    height: 450px;
    margin: auto;
}

@media only screen and (max-width: 800px) {
    .travaux-items{
        display: block;
    }

    .travaux-items>div{
        width: 95%;
        margin-bottom: 10px;
    }
    
    .travaux{
        height: auto;
    }
}
/* Technologies */

.arbre{
    position: relative;
    height: 80vh;
    max-height: 900px;
    padding: 50px;
}

.arbre>div{
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-size: 100% 100%;
    box-shadow: 0px 6px 7px 1px rgba(0, 0, 0, 0.11);
}

.arbre .logo{
    width: 20%;
    height: 40%;
    border-radius: 0;
    box-shadow: none;
    top: calc(50% - 10%);
    left: calc(50% - 10%);
}

.laravel{
    background-image: url(../RESOURCES/IMAGES/ASP.jpg);
    left: calc(50% - 45px);
    transform: translate(-50%);
}
.nodejs{
    left: calc(50% - 45px);
    top: calc(50% + 10vh);
    background-image: url(../RESOURCES/IMAGES/Vue.js.png);
}
.javascript{
    top: 25%;
    left: 25%;
    background-image: url(../RESOURCES/IMAGES/Python.png);
}

.git-hub{
    right: 25%;
    top: 25%;
    background-image: url(../RESOURCES/IMAGES/Xamarin.webp);
}

.html{
    right: 25%;
    top: 50%;
    background-image: url(../RESOURCES/IMAGES/laravel.png);
}

.autre{
    top: 50%;
    left: 25%;
} 
/*

.autre{
    bottom: 25%;
    left: 15%;
} */

/* Contactez Nous */
.contactez-nous{
    padding-top: 30px;
    padding-bottom: 30px;
    background: linear-gradient(132.26deg, #E8F5EE 12.09%, #BCC1D3 92.19%);
}
.contactez-nous .container{
    display: flex;
}

.contactez-nous .text, .form{
    width: 50%;
    margin: auto;
}

.form form{
    width: 100%;
}

label{
    display: block;
}

.input{
    display: flex;
    margin: 5px 0 10px 0;
}

.input input:focus, .input textarea:focus{
    outline: #273672a4 solid 2px;
    border-radius: 2px;
}

label span{
    margin: auto 5px;
    color: rgb(177, 19, 19);
}

.input input, textarea{
    width: 100%;
    border: none;
    padding: 10px;
}

.submit{
    padding: 15px 0;
}

@media only screen and(max-width: 800px) {
    
    .container .form{
        width: 100%;
        padding: 0;
    }
}

#footer p{
    font-size: 19px;
}

.footer-container{
    display: flex;
}

.footer-container>div{
    margin: 5px;
    padding-right: 40px;
}

.footer-container .description{
    width: 40%;
}

.contact svg{
    margin-right: 15px;
}
#footer li{
    padding: 5px 0;
}

.description img{
    height: 100px;
    padding-bottom: 25px;
}

#footer h2{
    color: #4A5789;
    font-size: 1.7em;
    margin-bottom: 20px;
}

#footer ul{
    padding: 0;
}

#footer .reseaux-sociaux{
    text-align: right;
}

/* .reseaux-sociaux svg path{
    fill: var(--main-color);
} */
@media only screen and (max-width: 900px) {
    .footer-container{
        display: block;
    }
    .footer-container .description{
        width: 100%;
    }
    .contactez-nous .container{
        display: block;
        width: auto;
        margin: auto;
    }

    .contactez-nous .text, .contactez-nous .form{
        width: 100%;
    }

    h1{
        font-size: 2.9rem;
    }

}

/* Reglementations */

h1{
    margin-bottom: 20px;
}
