h1{
    margin-bottom: 60px;
    font-size: 64px;
    font-weight: 900;
    background-image: linear-gradient(-45deg, #1F9959, #273672);
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3{
    font-weight: 600;
    margin: 10px 0;
}

.slider h1{
    color: #eee;
    font-weight: 500;
    font-size: 45px;
    -webkit-text-fill-color: white;
}

.formations h1{
    -webkit-text-fill-color: #97D1B2;
}
section, #footer{
    padding: 115px;
    max-width: 1510px;
    min-width: 350px;
    margin: auto;
}

.service-section{
    gap: 55px;
    margin-bottom: 50px;
}

.navbar-nav{
    text-align: center;
    gap: 20px;
    padding-left: 100px;
    margin: auto;
}

.nav-item{
    margin: auto;
}

#contactez-nous .container{
    gap: 53px;
}
#footer{
    background-image: linear-gradient(0deg, #2736729f, #FFFFFF);
}

.navbar-brand svg{
    display: block;
    text-align: center;
}


/* Responsive */

@media only screen and (max-width: 1131px) {
    .realisations-items{
        top: 760px;
    }

    .navbar-nav{
        text-align: center;
        gap: 20px;
        padding-left: 0;
    }
    
    h1{
        font-size: 40px;
    }
}

@media only screen and (max-width: 1100px) {
    
}

@media only screen and (max-width: 800px) {
    h1{
        font-size: 35px;
    }
    
    section, #footer{
        padding: 40px;
    }

    #services .service-section{
        height: 600px;
    }

}

@media only screen and (max-width: 550px) {
    p{
        font-size: 18px;
    }
}

@media only screen and(max-width: 500px) {
    
}

@media only screen and (max-width: 460px) {
    
}

@media only screen and (max-width: 400px) {
    
}

@media only screen and (max-width: 350px) {
    
}


/* Suplement */
.travaux-items>div:hover button{
    transform: translateY(70px);
    transition: 0.4s all ease-out;
}
.travaux-items>div:hover{
    transition: 0.4s all ease-in;
}
.travaux-items>div:hover div{
    transform: translateY(-180px);
    transition: 0.4s all ease-in;
}
